h1 {
    text-align: center;
    color: rgb(43, 25, 208);
  }
  nav {
    background-color: rgb(34, 44, 64);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}
body {
  background-color: rgb(28, 65, 78);
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: rgb(251, 247, 252);
}
